Repository chsami/microbot, pull requests merged in 2023-08, with the labels that each got.

#7 BUG FIX: Box Reset Interaction Fix
  runelite-client/src/main/java/net/runelite/client/plugins/microbot/util/gameobject/Rs2GameObject.java
  runelite-client/src/main/java/net/runelite/client/plugins/microbot/woodcutting/WoodcuttingScript.java
  runelite-client/src/main/java/net/runelite/client/plugins/microbot/woodcutting/enums/WoodcuttingTree.java
Labels: bug

#8 Created new Prayer method fastPray
  runelite-client/src/main/java/net/runelite/client/plugins/microbot/util/prayer/Prayer.java
  runelite-client/src/main/java/net/runelite/client/plugins/microbot/util/prayer/Rs2Prayer.java
Labels: documentation

#9 [UPDATED] Auto Vorkath to implement new prayers
  runelite-client/src/main/java/net/runelite/client/plugins/jrPlugins/autoVorkath/AutoVorkathPlugin.kt
Labels: Plugin Update

#11 [BUG] AutoVorkathPlugin inventory gear setup.
  runelite-client/src/main/java/net/runelite/client/plugins/jrPlugins/autoVorkath/AutoVorkathConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/jrPlugins/autoVorkath/AutoVorkathPlugin.kt
  runelite-client/src/main/java/net/runelite/client/plugins/jrPlugins/autoVorkath/RANGE_POTION.kt
  runelite-client/src/main/java/net/runelite/client/plugins/microbot/MicrobotPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/microbot/util/bank/Rs2Bank.java
Labels: bug, Plugin Update

#12 [PLUGIN UPDATE] AutoChin version update
  runelite-client/src/main/java/net/runelite/client/plugins/jrPlugins/autoChin/AutoChin.kt
  runelite-client/src/main/java/net/runelite/client/plugins/jrPlugins/autoVorkath/AutoVorkathPlugin.kt
Labels: Plugin Update

#14 [PLUGIN UPDATE] Auto Vorkath antivenom update
  runelite-client/src/main/java/net/runelite/client/plugins/jrPlugins/autoVorkath/AutoVorkathPlugin.kt
  runelite-client/src/main/java/net/runelite/client/plugins/microbot/util/player/Rs2Player.java
Labels: Plugin Update

#17 [BUG FIX] Updated handleMenuSwapper reflection value
  runelite-client/src/main/java/net/runelite/client/plugins/PluginDescriptor.java
  runelite-client/src/main/java/net/runelite/client/plugins/microbot/util/bank/Rs2Bank.java
Labels: bug

#20 [UPDATE] Rs2Bank Reflection Value update & Auto Chin Plugin
  runelite-client/src/main/java/net/runelite/client/plugins/jrPlugins/autoChin/AutoChin.kt
  runelite-client/src/main/java/net/runelite/client/plugins/jrPlugins/autoChin/AutoChinOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/microbot/util/bank/Rs2Bank.java
  runelite-client/src/main/java/net/runelite/client/plugins/microbot/util/walker/Walker.java
Labels: documentation, Plugin Update

#21 [BUG] Auto Vorkath walkFastLocal Not Working
  runelite-client/src/main/java/net/runelite/client/plugins/jrPlugins/autoVorkath/AutoVorkathPlugin.kt
Labels: bug, Plugin Update
